#registrationDiv {
    position: absolute; 
    width: 280px; 
    height: 220px; 
    left: 50%; 
    top: 50%; 
    margin-left: -150px; 
    margin-top: -100px;	
    background: #fc0; 
    border: solid 1px black; 
    padding: 10px; 
}
.registration{
    width: 270px;
}

#b_register{
    padding: 0px; 
    margin: 15px;
    width: 250px;
}

#loginDiv {
    position: absolute; 
    width: 280px; 
    height: 120px; 
    left: 50%; 
    top: 50%; 
    margin-left: -150px; 
    margin-top: -300px; 
    background: #fc0; 
    border: solid 1px black; 
    padding: 10px; 
}
.logining{
    width: 270px;
}

#b_login{
    padding: 0px; 
    margin: 15px;
    width: 250px;
}
#viewport{
    padding: 0px;
    margin: -10px;
    margin-top: 10px;
}

#functionsForm{
    width: 280px; 
    height: 120px; 
    border-radius: 10px;
    border: 2px solid #fc0;;
    background: #cc0; 
    position: absolute;
}